
// Custom Styles
body {
  //background-image: url('../images/atlantabg.png');
  img{
    width: 300px;
  }

  
}
//background-image: url("../images/background.png");

.angular-google-map-container { 
	height: 400px; width: auto;
}

.light-blue {
	margin-bottom: 25px;
}

.nav-wrapper img {
	width: 64px;
}

